body {
    background: rgb(247, 110, 185);
    color: rgb(45, 45, 45);
    padding: 10px;
    font-family: 'Times New Roman';
}
#all-contents {
  max-width: 800px;
    margin: auto;
    border-radius: 20px;
}

/* navigation menu */
nav {
    background:  rgb(255, 181, 237);
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    padding: 10px;
    border-radius: 10px;
}
h1 {
    display: flex;
    align-items: center;
    color: rgb(14, 11, 11);
    flex: 1;
    margin: 0;
}
#nav-ul {
    list-style-image: none;
}
.nav-li {
    display: inline-block;
    padding: 0 10px;
}
a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: #ffffff;
    display: flex;
    border-radius: 25px;
}
.sidebar {
    margin-right: 15px;
    padding: 10px;
}
.sidebar-img {
    width: 200px;
}
.content {
    flex: 1;
    padding: 15px;
}

/* portfolio styles */
#interests {
    border: 4px rgb(180, 174, 174) ridge;
    padding: 8px;
}
h2, h3 {
    margin: 0px;
}
         /* portfolio styles */
         .content h1 {
            color: black;
        }

        #portfolio {
            list-style-type: none;
            padding-left: 0;
        }

        #portfolio li {
            background: #ff74c5;
            padding: 10px;
            border-radius: 30px;
            margin-bottom: 10px;
        }

        #portfolio li:hover {
            background: #e673ac;
        }

        #portfolio a {
            text-decoration: none;
            color: #fdfbfb;
        }